* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #181719;
  color: #fff;
}

a,
li {
  list-style: none;
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
a:hover,
li:hover {
  opacity: 1;
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  font-family: "Lora", serif;
  font-size: 48px;
  font-weight: 500;
  color: #fff;
  margin: 1rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1024px) {
  .title {
    font-size: 45px;
  }
}
@media screen and (max-width: 795px) {
  .title {
    font-size: 43px;
  }
}

.card-title {
  font-family: "Lora", serif;
  font-size: 24px;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .card-title {
    font-size: 20px;
  }
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.overflow {
  overflow: hidden;
}

header {
  min-height: 20vh;
}
header nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
header nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .nav-links li {
  margin-right: 40px;
}
header nav #logo {
  border: 1px solid #fff;
  color: #fff;
  background: none;
  font-family: "Crimson Pro", serif;
  font-size: 0.75rem;
  margin-left: 15px;
  opacity: 0.8;
  cursor: pointer;
  padding: 10px 15px;
  transition: all 0.4s ease;
}
header nav #logo:hover {
  opacity: 1;
}
header .burger {
  opacity: 0.8;
  display: none;
  transition: all 0.4s ease;
}
header .burger:hover {
  opacity: 1;
}
header .burger div {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease-in;
}

.hero {
  margin-bottom: 4rem;
}
.hero .row {
  align-items: center;
  justify-content: center;
}
.hero .row .info {
  width: 50%;
}
.hero .row .info p {
  width: 60%;
  margin: 1rem;
  margin-bottom: 2rem;
  font-size: 24px;
  opacity: 0.8;
}
@media screen and (max-width: 1024px) {
  .hero .row .info p {
    font-size: 22px;
  }
}
@media screen and (max-width: 795px) {
  .hero .row .info p {
    font-size: 20px;
  }
}
.hero .row .info span {
  margin: 1rem;
  font-size: 18px;
  opacity: 1;
}
@media screen and (max-width: 1024px) {
  .hero .row .info span {
    font-size: 16px;
  }
}
@media screen and (max-width: 795px) {
  .hero .row .info span {
    font-size: 14px;
  }
}
.hero .row .info span .fa-solid {
  margin-left: 5px;
  font-size: 14px;
}
.hero .row .image {
  width: 50%;
  position: relative;
}
.hero .row .image img {
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .row .image .card {
  background-color: #181719;
  width: 385px;
  height: 200px;
  position: absolute;
  bottom: -120px;
  right: 20px;
  padding: 0.5rem 0rem;
}
@media (max-width: 920px) {
  .hero .row .image .card {
    width: 300px;
  }
}
.hero .row .image .card .row {
  width: 60%;
}
.hero .row .image .card .row .designer-img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}
@media (max-width: 1024px) {
  .hero .row .image .card .row .designer-img {
    width: 40px;
    height: 40px;
    margin-left: 1rem;
    margin-right: 10px;
  }
}
.hero .row .image .card .row .designer-info h4 {
  font-size: 14px;
  margin-bottom: 0.4rem;
}
.hero .row .image .card .row .designer-info h5 {
  font-size: 12px;
  opacity: 0.8;
}
.hero .row .image .card .designer-heading {
  width: 70%;
  margin: 1rem 2rem;
}

footer {
  padding: 1.5rem;
}
footer .footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  opacity: 0.8;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  header {
    min-height: 5vh;
  }

  nav .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 5vh;
    background-color: #181719;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    transform: translateX(-100%);
  }
  nav .nav-links li,
nav .nav-links a {
    font-size: 1.5rem;
    opacity: 1;
    margin: 2rem;
  }
  nav .burger {
    display: block;
    cursor: pointer;
  }
  nav .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  nav .toggle .line2 {
    opacity: 0;
  }
  nav .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  nav .active {
    transform: translateX(0%);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  nav .remove-logo {
    display: none;
  }

  .hero {
    width: 100%;
    padding-bottom: 5rem;
  }
  .hero .row {
    flex-direction: column;
  }
  .hero .row .info {
    width: 100%;
    margin-bottom: 2rem;
  }
  .hero .row .info p {
    width: 70%;
  }
  .hero .row .image {
    width: 100%;
  }
  .hero .row .image img {
    max-width: 100%;
  }
  .hero .row .image .card {
    box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.1);
    width: 385px;
    height: 140px;
    bottom: -60px;
    right: 145px;
  }
}
@media (max-width: 768px) and (max-width: 565px) {
  .hero .row .image .card {
    bottom: -80px;
    right: 100px;
    width: 280px;
  }
}
@media (max-width: 768px) and (max-width: 490px) {
  .hero .row .image .card {
    bottom: -80px;
    right: 70px;
  }
}
@media (max-width: 768px) and (max-width: 440px) {
  .hero .row .image .card {
    width: 270px;
  }
}
@media (max-width: 768px) and (max-width: 355px) {
  .hero .row .image .card {
    right: 20px;
  }
}
@media (max-width: 768px) {
  .hero .row .image .card .row {
    flex-direction: row;
  }
  .hero .row .image .card .row .designer-img {
    margin-left: 10px;
  }
}/*# sourceMappingURL=style.css.map */