* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #181719;
  color: #fff;
}
a,
li {
  list-style: none;
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
  &:hover {
    opacity: 1;
    text-decoration: underline;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.title {
  font-family: "Lora", serif;
  font-size: 48px;
  font-weight: 500;
  color: #fff;
  margin: 1rem;
}
.sub-title {
  font-family: "Lora", serif;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.card-title {
  font-family: "Lora", serif;
  font-size: 24px;
  color: #fff;
}
.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}
.row {
  display: flex;
}

// NAV
header {
  padding: 1rem;
  min-height: 20vh;
  nav {
    display: flex;
    justify-content: space-between;
    .nav-links {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        margin-right: 40px;
      }
    }
  }
}
#logo {
  border: 1px solid #fff;
  color: #fff;
  background: none;
  font-family: "Crimson Pro", serif;
  font-size: 0.75rem;
  margin-left: 40px;
  opacity: 0.8;
  cursor: pointer;
  padding: 10px 15px;
  transition: all 0.4s ease;
  &:hover {
    opacity: 1;
  }
}

// HERO section
.hero {
  min-height: 90vh;
  .row {
    align-items: center;
    justify-content: center;
    .info {
      width: 50%;
      p {
        width: 60%;
        margin: 1rem;
        font-size: 24px;
        opacity: 0.8;
      }
      span {
        margin: 1rem;
        font-size: 18px;
        opacity: 1;
      }
    }
    .image {
      width: 50%;
    }
  }
}

.card {
  width: 200px;
  margin: 0 auto;
  .row {
    img {
      width: 50px;
      border-radius: 50%;
      margin-right: 0.5rem;
      align-self: flex-start;
    }
    h5 {
      opacity: 0.8;
      font-size: 14px;
      line-height: 30px;
    }
    p {
      font-size: 12px;
      opacity: 0.8;
    }
  }
  h3 {
    width: 240px;
    margin-right: 2rem;
  }
}
