* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #181719;
  color: #fff;
}

a,
li {
  list-style: none;
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

a:hover,
li:hover {
  opacity: 1;
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  font-family: "Lora", serif;
  font-size: 48px;
  font-weight: 500;
  color: #fff;
  margin: 1rem;
  margin-bottom: 2rem;
}

.sub-title {
  font-family: "Lora", serif;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.card-title {
  font-family: "Lora", serif;
  font-size: 24px;
  color: #fff;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  padding: 1rem;
  min-height: 20vh;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .nav-links li {
  margin-right: 40px;
}

#logo {
  border: 1px solid #fff;
  color: #fff;
  background: none;
  font-family: "Crimson Pro", serif;
  font-size: 0.75rem;
  margin-left: 40px;
  opacity: 0.8;
  cursor: pointer;
  padding: 10px 15px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#logo:hover {
  opacity: 1;
}

.hero {
  min-height: 75vh;
}

.hero .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .row .info {
  width: 50%;
}

.hero .row .info p {
  width: 60%;
  margin: 1rem;
  margin-bottom: 2rem;
  font-size: 24px;
  opacity: 0.8;
}

.hero .row .info span {
  margin: 1rem;
  font-size: 18px;
  opacity: 1;
}

.hero .row .info span .fa-solid {
  margin-left: 5px;
  font-size: 14px;
}

.hero .row .image {
  width: 50%;
}

.card {
  width: 200px;
  margin: 0 auto;
}

.card .row img {
  width: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.card .row h5 {
  opacity: 0.8;
  font-size: 14px;
  line-height: 30px;
}

.card .row p {
  font-size: 12px;
  opacity: 0.8;
}

.card h3 {
  width: 240px;
  margin-right: 2rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 5vh;
  font-size: 14px;
  opacity: 0.8;
}
/*# sourceMappingURL=style.css.map */